.mobile-menu {
  display: none;
  color: $mobile-menu-color-text;
  text-transform: uppercase;

  &__title{
    padding: 15px;
  }

  &__trigger{
    padding: 15px;
    &::after{
      content: "\f0c9";
      font-family: FontAwesome;
      font-size: 1.5625rem;
      color: $mobile-menu-color-text;
    }
  }
}
@media screen and (max-width:768px){
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mobile-menu-color-bg;
  }
}