.section-about{

}
.about{
  $color-title: #414141;
  $color-text: #999;

  text-align: center;
  padding: 15px 0px 21px 0px;

  &__title{
    color: $color-title;
    font-size: 24px;
    font-weight: normal;
    margin:10px 0px;    
  }

  &__text{
    margin: 5px 0px;;
    color: $color-text;
    font-size: 14px;
    line-height: 1.3;
  }
  
}