.section-clothes-clearance{
  margin-top: 20px;
}
.clothes-clearance{
  $color-bg: #fff;

  &__title{
    text-align: center;
    
  }

  &__list{
    display: flex;
    justify-content: space-between;
    margin: -10px -15px;
    background-color: $color-bg;
  }
}
.clothes-clearance__img{

}

