.section-feedback{
  background-color: #ededed;
  margin-top: 20px;
}

.feedback{
  $font-size: 0.75rem;
  $color-text: #6d6d6d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-text;
  font-size: $font-size;
}

@media screen and (max-width: 640px){
  .feedback{
    flex-direction: column;
    &__form{
      width: 100%;
      text-align: center;
      margin: 10px 0px;
    }
  }
}

