
.section-footer-bottom{
  background-color: #000;
  font-size: 11px;
}

.footer-bottom{
  $color-text: #8d8d8d;
  $color-bg: #000;
  $color-link-hover:#dd6b44;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $color-bg;
  
  &__list{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
  }

  &__item{
    padding-right:9px;
  
    &::after{
      content: "|";
      margin-left: 9px;
    }

    &:last-child::after{
      content: ""
    }
  }

  &__link{
    display: inline-block;
    height: 100%;
    color: $color-text;
    transition: all 0.3s linear;
  
    &:hover{
      color: $color-link-hover;
    }
  }

  &__copyright{
    color: $color-text;
    text-align: right;
  }
}