.section-footer-top{
  background-color : #ededed;
}

.footer-top{
  $color-bg: #ededed;
  $color-title: #544f4d;
  $color-link: #8b8887;
  $color-link-hover:#dd6b44;
   
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $color-bg;
  padding: 20px 0px;
  
  &__column{
   
  }
  &__title{
    color: $color-title;
    font-size: 16px;
    font-weight: bold;
    margin-top:9px;
    margin-bottom: 10px;
  }

  &__link{
    color: $color-link;
    font-size: 12px;
    transition: all 0.3s linear;
    
    &:hover{
      color: $color-link-hover;
    }
  }
}

.footer-social{
  $color-bg-icon: #4c4c4b;
  $color-bg-icon-hover: #dd6b44;
  $color-icon: #fff;
  $color-icon-hover: #4c4c4b;
  
  display: flex;
  flex-wrap: wrap;
  width: 128px;

  &__link{
    font-size: 16px;
  }

  &__icon-circle{
    color: $color-bg-icon;
    transition: all 0.3s linear;
  }

  &__icon-social{
    color: $color-icon;
    transition: all 0.3s linear;
  }

  &__link:hover &__icon-circle{
    color: $color-bg-icon-hover;
  }

  &__link:hover &__icon-social{
    color: $color-icon-hover;
  }

}

.secure{
  margin-top:25px;
  height: 115px;
  width: 115px;
  background: url(../images/secure.png) no-repeat;
}
