.section-footer-top{
  background: #ededed;
}
.footer-top{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #ededed;
  padding: 20px 0px;
  
  &__column{
   
  }
  &__title{
    color:#544f4d;
    font-size: 16px;
    font-weight: bold;
    margin-top:9px;
    margin-bottom: 10px;
  }

  &__link{
    color:#999999;
    font-size: 12px;
    transition: all 0.3s linear;
    
    &:hover{
      color:#dd6b44;
    }
  }
}

.footer-social{
  display: flex;
  flex-wrap: wrap;
  width: 128px;

  &__link{
    font-size: 16px;
  }

  &__icon-circle{
    color:#4c4c4b;
    transition: all 0.3s linear;
  }

  &__icon-social{
    color:#ffffff;
    transition: all 0.3s linear;
  }

  &__link:hover &__icon-circle{
    color:#dd6b44;
  }

  &__link:hover &__icon-social{
    color:#4c4c4b;
  }

}

.secure{
  margin-top:25px;
  height: 115px;
  width: 115px;
  background: url(../images/secure.png) no-repeat;
}
