.section-header-top{
  $color-bg: #000;

  background-color: $color-bg;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6875rem;
}

@media screen and (max-width: 640px){
  .header-top{
    flex-direction: column;

    &__contact{
      padding: 10px;
      background-color: #fafafa;
      text-align: center;
      width: 100%;
      &__link{
        color: #838383;
      }

    }
    &__nav__item:last-child{
      border-right:none;
    }
    &__nav__item:first-child{
      border-left:none;
    }
  }
  .section-header-top{
    .container{
      padding: 0px;
    }
  }
}
