.section-header-bottom{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 55px;
}

.header-bottom{
  &__logo {
    flex: 1 1 auto;
  }  
}
.logo__link{
  display: inline-block;
}