.section-footer-bottom{
  background-color: $footer-bottom-color-bg;
}

.footer-bottom{
  font-size: $footer-bottom-font-size;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $footer-bottom-color-bg;
  
  &__list{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
  }

  &__item{
    display: flex;
    align-items: center;
    padding: 9px 9px 9px 0px;
    &::after{
      content: "|";
      color: $footer-bottom-color-text;
      margin-left: 9px;
    }

    &:last-child::after{
      content: ""
    }
  }

  &__link{
    display: inline-block;
    height: 100%;
    color: $footer-bottom-color-text;
    transition: all 0.3s linear;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    &:hover{
      color: $footer-bottom-link-color-hover;
    }
  }

  &__copyright{
    color: $footer-bottom-color-text;
    text-align: right;
  }
}