mixin social-icons()
  .social-icons
    span.social-icons__text Find us here
    ul.social-icons__list
      li.social-icons__item.social-icons__item_fb
        a.social-icons__link(href="#")
          i.social-icons__icon.fa.fa-facebook(aria-hidden="true")
      li.social-icons__item.social-icons__item_tw
        a.social-icons__link(href="#")
          i.social-icons__icon.fa.fa-twitter(aria-hidden="true")
      li.social-icons__item.social-icons__item_pr
        a.social-icons__link(href="#")
          i.social-icons__icon.fa.fa-pinterest(aria-hidden="true")