.social-icons{
  display: flex;
  align-items: center;

  &__text{
    font-size: $social-icons-text-font-size;
    margin-right: 14px;
  }

  &__list{
    display: flex;
    align-items: center;
  }

  &__item{
    position: relative;
    font-size: $social-icons-item-font-size;
    &:nth-child(even){
      background-color: $social-icons-item-color-bg;
    }
  }
  
  &__link{
    display: inline-block;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 14px;
    color: $social-icons-icon-color;
    transition: all 0.3s linear;

    &:hover{
      color: $social-icons-icon-color-hover;
      background-color: $social-icons-icon-color-bg-hover;
    }
  }
}