mixin gallery()  
  section.section-gallery
    .container
      .gallery
        .gallery__item.gallery__column
          a.gallery__link(href="#")
            img.gallery__img(src="images/gallery_1.png")
        .gallery__item.gallery__column
          .gallery__item.gallery__row
            a.gallery__link(href="#")
              img.gallery__img(src="images/gallery_2.png")
          .gallery__item.gallery__row
            .gallery__item.gallery__column
              a.gallery__link(href="#")
                img.gallery__img(src="images/gallery_3.png")
            .gallery__item.gallery__column
              a.gallery__link(href="#")
                img.gallery__img(src="images/gallery_4.png")