.clothes-item{
  background-color: #ccc;
  height: 395px;
  width: 220px;
  margin: 30px 15px;
  position: relative;
  
  &__link{
    display: block;
    width: 100%;
    height: 290px;
  }

  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__caption{
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    //text-align: center;
    background-color: #fff;
    text-transform: uppercase;
  }

  &__title{
    margin: 0px;
    font-size: 12px;
  }

  &__text{
    margin: 0px;
    font-size: 22px;
  }

  &__shop-it{
    visibility: hidden;
    height: 100px;
    width: 100px;
    position: absolute;
    top:95px;
    right: 60px;
    //background: white;
    background: url(../images/shop_it.png) center/cover no-repeat;
    opacity:0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
  }

  &__sale{
    height: 50px;
    width: 50px;
    position: absolute;
    top:0;
    left:0;
    background-color:#4c4c4c;

    &:after{
      content: "sale";
      color:#fff;
      font-size: 10px;
      text-transform: uppercase;
      position: absolute;
      top:6px;
      left: 4px;
    }

    &-right{
      width: 0;
      height: 0;
      border-bottom: 50px solid #ffffff;
      border-left: 50px solid transparent;
    }
  }
  
  &__link:hover &__shop-it{
    visibility: visible;
    opacity:1;
  }
}