.menu-top{
  $color-text: #fff;
  $color-bg: #000;
  $color-icon: #666;
  $color-border: #444;

  display: flex;
  
  &__item{
    padding: 8px 12px;
    border-left: 1px solid $color-border;

    &:last-child{
      border-right:1px solid $color-border;
    }
  }
  
  &__link{
    color: $color-text;
  }

  &__text{
    margin-left: 5px;
  }
  
  &__select{
    color: $color-text;
    background-color: $color-bg;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }

  &__icon{
    font-size: 14px;
    &-user{
      color: $color-icon;
    }
  }
}
