.nav-main {
  $color-link:#000;
  $font-size: 1rem;

  text-transform: lowercase;
  background-color:#fff;
  
  &__list{
    display: flex;
  }
  
  &__link {
    color: $color-link;
    display: block;
    padding: 15px;
    font-size: $font-size;
    transition: all 0.3s linear;

    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: #fff;
      background: #f9926d;
    }
    
    &_parent::after{
      content: "\f0d7";
      font-family: FontAwesome;
      font-size: 0.875rem;
      margin-left: 5px;
    }
    
   }
  
  &__menu_small {
    display: none;
    color: #fff;
    text-transform: uppercase;

    &-text{
      padding: 15px;
    }
  }

  &-toggle{
    padding: 15px;
    &::after{
      content: "\f0c9";
      font-family: FontAwesome;
      font-size: 1.5625rem;
      color: #fff;
    }
  }
}

@media screen and (max-width:768px) {
  .nav-main{
    width: 100%;
    &__menu_small {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f9926d;
    }

    &__item {
      display: block;
      border-top: 1px #d6d6d6 solid;    
    }

    &__list {
      display: none;
    }
    &__link{
      max-width: 100%;
    }
  }
}