include ../clothes-item/clothes-item

mixin clothing-catalog()
  section.section-clothing-catalog
    .clothing-catalog
      .container
        nav.clothing-catalog-nav
          .clothing-catalog-nav__menu
            ul.clothing-catalog-nav__list
              li.clothing-catalog-nav__item
                a.clothing-catalog-nav__link(href="#") What's hot?
              li.clothing-catalog-nav__item
                a.clothing-catalog-nav__link(href="#") designers
              li.clothing-catalog-nav__item
                a.clothing-catalog-nav__link(href="#") featured
              li.clothing-catalog-nav__item
                a.clothing-catalog-nav__link(href="#") latest
          .clothing-catalog-nav__slider-buttons
            ul.slider-clothes-buttons__list
              li.slider-clothes-buttons__item.slider-clothes-button-prev
                i.slider-clothes-buttons__icon.fa.fa-angle-left.fa-3x(aria-hidden="true")
              li.slider-clothes-buttons__item.slider-clothes-button-next
                i.slider-clothes-buttons__icon.fa.fa-angle-right.fa-3x(aria-hidden="true")
      .slider-clothes
        +clothes-item("images/clothes1.jpg",'Mimosa lace dress', '$76.95')
        +clothes-item("images/clothes2.jpg",'Mimosa lace dress', '$76.95')
        +clothes-item("images/clothes3.jpg",'Mimosa lace dress', '$76.95')
        +clothes-item("images/clothes4.jpg",'Mimosa lace dress', '$76.95')
        +clothes-item("images/clothes5.jpg",'Mimosa lace dress', '$76.95')
        +clothes-item("images/clothes6.jpg",'Mimosa lace dress', '$76.95')
        +clothes-item("images/clothes7.jpg",'Mimosa lace dress', '$76.95')
        +clothes-item("images/clothes8.jpg",'Mimosa lace dress', '$76.95')