.section-clothing-catalog{
  margin-top: 50px;
}

.clothing-catalog-nav{
  display:flex;
  justify-content: space-between;
  align-items: center;

  &__list{
    display: flex;
  }

  &__item{
    font-size: $clothing-catalog-nav-item-font-size;
    text-transform: uppercase;
  }

  &__link{
    color: $clothing-catalog-nav-link-color;
    display: inline-block;
    padding:15px 19px;
    transition: all 0.3s linear;

    &:hover{
      color: $clothing-catalog-nav-link-color-text-hover;
      background-color: $clothing-catalog-nav-link-color-bg-hover;
    }
  }
}

.slider-clothes{
  background-color: $slider-clothes-color-bg;
  
  &-buttons__list{
    display: flex;
  }

  &-button-prev,
  &-button-next{
    color: $slider-clothes-link-color;
    background-color: $slider-clothes-btn-color-bg;
    cursor: pointer;
    padding:0 15px;
    transition: all 0.3s linear;
    &:hover{
      background-color: $slider-clothes-btn-color-bg-hover;
      color: $slider-clothes-btn-color-text-hover;
    }
  }
}

@media screen and (max-width: 640px){
  .clothing-catalog-nav{
    display: none;
  }
}
