.section-clothing-catalog{
  margin-top: 50px;
}

.clothing-catalog-nav{
  display:flex;
  justify-content: space-between;
  align-items: center;

  &__list{
    display: flex;
  }

  &__item{
    font-size:15px;
    text-transform: uppercase;
  }

  &__link{
    $color-link: #555;
    color: $color-link;
    display: inline-block;
    padding:15px 19px;
    transition: all 0.3s linear;

    &:hover{
      $color-link-text-hover: #fff;
      $color-bg-link-hover: #fd926d;
      color: $color-link-text-hover;
      background-color: $color-bg-link-hover;
    }
  }
}

.slider-clothes{
  $color-link: #555;
  $color-btn-bg: #f2f2f2;
  $color-btn-hover: #fd926d;
  $color-btn-text-hover: #fff;
  $color-bg: #fd926d;

  background-color: $color-bg;
  
  &-buttons__list{
    display: flex;
  }

  &-button-prev,
  &-button-next{
    color: $color-link;
    background-color: $color-btn-bg;
    cursor: pointer;
    padding:0 15px;
    transition: all 0.3s linear;
    &:hover{
      background-color: $color-btn-hover;
      color: $color-btn-text-hover;
    }
  }
}

@media screen and (max-width: 640px){
  .clothing-catalog-nav{
    display: none;
  }
}
