include ../../blocks/scroll-top/scroll-top
doctype html  
html(lang='ru')
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width')
  link(rel='stylesheet' type='text/css' media='screen' href='css/main.css')
  link(rel='shortcut icon' type='image/x-icon' href='images/favicon.ico')
body.page
  header.page__header
    block header
  main.page__body
    block main
  footer.page__footer
    block footer
  +scroll-top()
  <script src="js/main.js"></script>