ul.menu.menu-top.menu_horizontal
  li.menu__item.menu-top__item
    select.menu__select.menu-top__select
      option.menu__option.menu-top__option $ US
      option.menu__option.menu-top__option Euro
  li.menu__item.menu-top__item
    a.menu__link.menu-top__link.menu__link_active(href="#")
      i.menu__icon.menu-top__icon-user.fa.fa-user(aria-hidden="true")
      span.menu__text.menu-top__text My account
  li.menu__item.menu-top__item
    a.menu__link.menu-top__link(href="#")  
      i.menu__icon.menu-top__icon-search.fa.fa-search.fa-rotate-90(aria-hidden="true")