nav.nav-main
  div.nav-main__menu_small
    span.nav-main__menu_small-text Menu
    a.nav-main-toggle(href="#")
  ul.nav-main__list
    each item in ['new', 'designers', 'women', 'men', 'clearence']
      li.nav-main__item
        a.nav-main__link.nav-main__link_parent(href="#")=item