ul.social
  li.social__item.social__item-text Find us here
  li.social__item
    a.social__link(href="#")
      i.social__icon.fa.fa-facebook(aria-hidden="true")
  li.social__item
    a.social__link(href="#")
      i.social__icon.fa.fa-twitter(aria-hidden="true")
  li.social__item
    a.social__link(href="#")
      i.social__icon.fa.fa-pinterest(aria-hidden="true")