.form-updated{
  $font-size: 0.75rem;
  font-size: $font-size;

  &__label{
    margin-right: 7px;
  }

  &__input{
    height: 28px;
    width: 157px;
    font-style: italic;
    padding-left: 8px;
    padding-right: 28px;
  }

  &__button{
    $color-hover: #6d6d6d;
    $color-bg: #fd926d;
    border-top: 3px solid $color-bg;
    transition: all 0.3s;
    height: 28px;
    width: 28px;
    margin-left: -28px;
    padding:0px;
  
    &::after{
      margin-left: 0px;
    }
  
    &:hover{
      border-top: 3px solid $color-hover;
    }
  }

}

@media screen and (max-width: 640px){
  .form-updated{

    &__label{
      display: none;
    }

    &__input{
      width: 98%;
    }
  }
}
