mixin form-updated()
  form.form-updated(action="#")
    label.form-updated__label(for="stay-updated") Stay updated
    input.form-updated__input(type="email" name="email" placeholder="You email address" required)
    button.form-updated__button(type="submit")