.section-header-top{
  background-color: $header-top-color-bg;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header-top{
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6875rem;
}

@media screen and (max-width: 640px){
  .header-top{
    flex-direction: column;

    &__contact{
      padding: 10px;
      background-color: $header-top-color-bg-hover-mw-640;
      text-align: center;
      width: 100%;
    }
  }
  .section-header-top{
    .container{
      padding: 0px;
    }
  }
}
