include ../contact/contact
include ../menu-top/menu-top

mixin header-top()
  section.section-header-top
    .container 
      .header-top
        .header-top__contact
          +contact()
        .header-top__menu
          +menu-top()