mixin shopping-card()
  .shopping-card
    select.shopping-card__select
      option.shopping-card__option(disabled selected hidden) Your cart
      option.shopping-card__option Master cart
      option.shopping-card__option Maestro
    .shopping-bag
      span.shopping-bag__icon
        i.fa.fa-shopping-bag(aria-hidden="true")
      span.shopping-bag__text 0 Items
        span.shopping-bag__text-price $ 0