mixin cards() 
  section.section-cards
    .container
      .cards
        span.cards__text We accept
        ul.cards__list
          li.cards__item.cards__item_icon-1
          li.cards__item.cards__item_icon-2
          li.cards__item.cards__item_icon-3
          li.cards__item.cards__item_icon-4
          li.cards__item.cards__item_icon-5
          li.cards__item.cards__item_icon-6
          li.cards__item.cards__item_icon-7
          li.cards__item.cards__item_icon-8
          li.cards__item.cards__item_icon-9
          li.cards__item.cards__item_icon-10
          li.cards__item.cards__item_icon-11