mixin cards() 
  section.section-cards
    .container
      .cards
        ul.cards__list
          li.cards__item.cards-text We accept
          li.cards__item.cards-icon.cards-icon-1
          li.cards__item.cards-icon.cards-icon-2
          li.cards__item.cards-icon.cards-icon-3
          li.cards__item.cards-icon.cards-icon-4
          li.cards__item.cards-icon.cards-icon-5
          li.cards__item.cards-icon.cards-icon-6
          li.cards__item.cards-icon.cards-icon-7
          li.cards__item.cards-icon.cards-icon-8
          li.cards__item.cards-icon.cards-icon-9
          li.cards__item.cards-icon.cards-icon-10
          li.cards__item.cards-icon.cards-icon-11