doctype html  
html(lang='ru')
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width')
  link(rel='stylesheet' type='text/css' media='screen' href='css/main.css')
body
  header.header
    include sections/header_top
    include sections/header_bottom
  include sections/slider_main
  include sections/feedback
  include sections/gallery
  include sections/catalog_clothes
  include sections/brands
  include sections/about
  include sections/cards
  footer.footer
    include sections/footer_top
    include sections/footer_bottom
<script src="js/main.js"></script>