extends layouts/home
include ../blocks/header/header
include ../blocks/main-slider/main-slider
include ../blocks/feedback/feedback
include ../blocks/gallery/gallery
include ../blocks/clothing-catalog/clothing-catalog
include ../blocks/clothes-clearance/clothes-clearance
include ../blocks/brands/brands
include ../blocks/about/about
include ../blocks/cards/cards
include ../blocks/footer/footer

block header
  +header()
block main
  +main-slider()
  +feedback()
  +gallery()
  +clothing-catalog()
  +clothes-clearance()
  +brands()
  +about()
  +cards()
block footer
  +footer()
