.title_line{
  position: relative;
  overflow: hidden;
  &::after,
  &::before{
    content: '';
    display: inline-block;
    background-color: #d8d8d8;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    border: solid #ffffff;
    border-width: 0 15px
  }
  &::after{
    margin-right: -100%;
  }
  &::before{
    margin-left: -100%;
  }
}