.menu-top{
  display: flex;
  font-size: $menu-top-font-size;

  &__item{
    padding: 8px 12px;
    border-left: 1px solid $menu-top-color-border;

    &:last-child{
      border-right: 1px solid $menu-top-color-border;
    }
  }
  
  &__link{
    color: $menu-top-color-text;
  }

  &__text{
    margin-left: 5px;
  }
  
  &__select{
    color: $menu-top-color-text;
    background-color: $menu-top-color-bg;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }

  &__icon{
    font-size: $menu-top-icon-font-size;
    &_user{
      color: $menu-top-icon-color;
    }
  }
}

@media screen and (max-width: 640px){
  .menu-top{
    &__item:last-child{
      border-right:none;
    }
    &__item:first-child{
      border-left:none;
    }
  }
}
