.menu-top{
  $color-text: #fff;
  $color-bg: #000;
  $color-icon: #666;
  $color-border: #444;
  $font-size: 0.6875rem;
  $font-size-icon: 0.875rem;
  
  display: flex;
  font-size: $font-size;

  &__item{
    padding: 8px 12px;
    border-left: 1px solid $color-border;

    &:last-child{
      border-right: 1px solid $color-border;
    }
  }
  
  &__link{
    color: $color-text;
  }

  &__text{
    margin-left: 5px;
  }
  
  &__select{
    color: $color-text;
    background-color: $color-bg;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }

  &__icon{
    font-size: $font-size-icon;
    &-user{
      color: $color-icon;
    }
  }
}

@media screen and (max-width: 640px){
  .menu-top{
    &__item:last-child{
      border-right:none;
    }
    &__item:first-child{
      border-left:none;
    }
  }
}
