mixin menu-top()
  ul.menu-top
    li.menu-top__item
      select.menu-top__select
        option.menu-top__option $ US
        option.menu-top__option Euro
    li.menu-top__item
      a.menu-top__link.menu__link_active(href="#")
        i.menu-top__icon.menu-top__icon_user.fa.fa-user(aria-hidden="true")
        span.menu-top__text My account
    li.menu-top__item
      a.menu-top__link(href="#")  
        i.menu-top__icon.menu-top__icon_search.fa.fa-search.fa-rotate-90(aria-hidden="true")