.main-menu {
  text-transform: lowercase;
    
  &__list{
    display: flex;
  }
  
  &__link {
    color: $main-menu-link-color;
    display: block;
    padding: 15px;
    font-size: $main-menu-font-size;
    transition: all 0.3s linear;

    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: $main-menu-link-color-hover;
      background: $main-menu-link-color-bg-hover;
    }
    
    &_parent::after{
      content: "\f0d7";
      font-family: FontAwesome;
      font-size: 0.875rem;
      margin-left: 5px;
    }
   }
}

@media screen and (max-width:768px) {
  .main-menu{
    width: 100%;
    &__item {
      display: block;
      border-top: $main-menu-item-color-bt-mw-768 1px #d6d6d6 solid;    
    }

    &__list {
      display: none;
    }
    &__link{
      max-width: 100%;
    }
  }
}