.section-feedback{
  background-color: $feedback-color-bg;
  margin-top: 20px;
}

.feedback{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $feedback-color-text;
  font-size: $feedback-font-size;
}

@media screen and (max-width: 640px){
  .feedback{
    flex-direction: column;
    &__form{
      width: 100%;
      text-align: center;
      margin: 10px 0px;
    }
  }
}

