include ../form-updated/form-updated
include ../social-icons/social-icons

mixin feedback()
  section.section-feedback
    .container
      .feedback
        .feedback__form
          +form-updated()
        .feedback__social
          +social-icons()     