include ../button/button
mixin clothes-item(src_image, title, price, sale)
  .clothes-item
    a.clothes-item__link(href="#")
      img.clothes-item__img(src= src_image)
      .clothes-item__shop-it
    if sale== true
      .clothes-item__sale
        .clothes-item__sale-right
    .clothes-item__caption
      h5.clothes-item__title= title
      p.clothes-item__text= price
      +button('add to cart')(class="clothes-item__button")