body{
  font-family: $ff-main;
  font-size: 1rem;
}
html{
  box-sizing: border-box;
  height:100%;
}

*, *:before, *:after{
  box-sizing: inherit;
}
ul,
ol{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
}
select{
  padding: 0px;
  border: 0px;
}

.page{
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header{
    flex:2 0 auto
  }
  
  &__main{
    flex: 1 0 auto;
  }

  &__footer{
    flex: 0 0 auto;
  }
}

/** SECTIONS */