.button {
  $color-btn-text: #fff;
  $color-btn-bottom: #dd6b44;
  $color-btn-hover: #6d6d6d;
  $color-btn-bg: #fd926d;

  outline: none;
  border: none;
  background-color: $color-btn-bg;
  color: $color-btn-text;
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 3px solid $color-btn-bottom;
  transition: all 0.3s linear;
  padding: 12px 12px 9px 12px;

  &::after{
    content: "\f067";
    font-family: FontAwesome;
    font-size: 11px;
    margin-left: 12px;
  }

  &:hover{
    border-bottom: 3px solid $color-btn-bg;
    background-color: $color-btn-hover;
  }
}
