.section__feedback{
  height: 55px;
  background-color: #ededed;
  margin-top: 20px;
}

.feedback{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  color:#6d6d6d;
  font-size: 12px;

  &__form{

    &__label{
      margin-right: 7px;
    }

    &__input{
      height: 28px;
      width: 157px;
      font-style: italic;
      outline: none;
      border: none;
      padding-left: 8px;
      padding-right: 28px;
    }

    &__button{
      outline: none;
      border: none;
      color: #fff;
      background-color: #fd926d;
      border-top: 3px solid #fd926d;
      border-bottom: 3px solid #dd6b44;
      transition: all 0.3s;
      height: 28px;
      width: 28px;
      margin-left: -28px;
    }
    &__button::before{
      content: "\f067";
      font-family: FontAwesome;
      font-size: 12px;
    }
    &__button:hover{
      color: #dd6b44;
      border-top: 3px solid #6d6d6d;
      border-bottom: 3px solid #dd6b44;
      background-color: #6d6d6d;
    }
  }

  &__social{
    font-size: 24px;
    &__menu{
      display: flex;
      align-items: center;

      &__item{
        position: relative;
        &-text{
          font-size: 12px;
          margin-right: 14px;
        }
      }

      &__item:nth-child(even){
        background-color: #f7f7f7;
      }

      &__link{
        display: inline-block;
        height: 55px;
        width: 55px;
        text-align: center;
        padding: 14px;
        color:#6d6d6d;
        transition: all 0.3s;
      }

      &__link:hover{
        color:#dd6b44;
        background-color: #6d6d6d;
      }
    }
  }
}
