.section__header__top{
  background-color: #000;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6875rem;
  
  &__contact{
    
    &__link{
      color: #fff;
    }

    &__number{
      letter-spacing: 0.5px;
      margin-left: 5px;
    }
  }
      
  &__nav__menu{
    display: flex;
    justify-content: space-between;
  }

  &__nav__item{
    padding: 8px 12px;
    border-left: 1px solid #555;
      
    &__link{
      color:#fff;
    }

    &__text{
      margin-left: 5px;
    }
    
    &__currency{
      color:#fff;
      background-color: #000;
      text-transform: uppercase;
    }
  }
  &__nav__item:last-child{
    border-right:1px solid #555555;
  }
}

.fa-user{
  color: #666;
  font-size: 14px;
}
.fa-search{
  font-size: 14px;
}

@media screen and (max-width: 640px){
  .header__top{
    flex-direction: column;

    &__contact{
      padding: 10px;
      background-color: #fafafa;
      text-align: center;
      width: 100%;
      &__link{
        color: #838383;
      }

    }
    &__nav__item:last-child{
      border-right:none;
    }
    &__nav__item:first-child{
      border-left:none;
    }
  }
  .section__header__top{
    .container{
      padding: 0px;
    }
  }
}
