.header__bottom{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 55px;
  &__logo {
    flex:1 1 auto;
  }
  &__nav {
    display: inline-block;
    vertical-align: top;
      .nav__link{
          color: #000;
          display: inline-block;
          vertical-align: top;
          padding: 10px;
          margin-right: 10px;
          max-width: 100px;
          overflow: hidden;
          transition: color 0.3s;
          
          &:hover{
            color: #f9926d;
          }

          &::after{
            content: "\f0d7";
            font-family: FontAwesome;
            font-size: 0.875rem;
            margin-left: 5px;
          }
      } 
  }
  
  &__shopping{
    color: #b3b3b3;
    font-size: 0.75rem;
    width: 214px;
  }
}
.logo__link{
  display: inline-block;
}
.shopping__cart{
  height: 33px;
  width: inherit;
  border: 1px solid #d6d6d6;
  padding: 0 4px;
}
.shopping__bag{
 height: 33px;
 width: inherit;
 border: 1px solid #d6d6d6;
 border-top: none;
 text-transform: uppercase;
 background-color: #fafafa;
 padding: 0 4px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}