.header__top{
    background-color: #000;
    text-transform: uppercase;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 11px;
    }
    &__contact{
    
        &__link{
            color: #fff;
        }

        &__number{
            margin-left: 5px;
        }
    }
        
    &__nav__menu{
        display: flex;
        justify-content: space-between;
    }

    &__nav__item{
        padding: 7px 12px;
        border-left: 1px solid #555;
        
        &__link{
            color:#fff;
        }

        &__text{
            margin-left: 5px;
        }
        
        &__currency{
            color:#fff;
            background-color: #000;
            text-transform: uppercase;
        }
    }
    &__nav__item:last-child{
        border-right:1px solid #555555;
    }
}

.fa-user{
    color: #666;
    font-size: 14px;
}
.fa-search{
    font-size: 14px;
}


.header__bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 41px;
    &__logo{
      //margin-right: 100px;
    }
    &__nav {
      display: inline-block;
      vertical-align: top;
      //padding-top: 7px;

        .nav__link{
            color: #000;
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            margin-right: 10px;
            max-width: 100px;
            overflow: hidden;
            transition: color 0.3s;
            
            &:hover{
              color: #f9926d;
            }

            &::after{
              content: "\f0d7";
              font-family: FontAwesome;
              font-size: 0.875rem;
              margin-left: 5px;
            }
        }
        
    }
    &__shopping{
        color: #b3b3b3;
        vertical-align: top;
        font-size: 0.75rem;
       // height: 33px;
        width: 214px;
        margin-left: 0px;
    }
}

.shopping__cart{
    height: 33px;
    width: inherit;
    border: 1px solid #d6d6d6;
    padding: 0 4px;
}
.shopping__bag{
   height: 33px;
   width: inherit;
   border: 1px solid #d6d6d6;
   border-top: none;
   text-transform: uppercase;
   background-color: #fafafa;
   padding: 0 4px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
//     
//    
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: #fafafa;
//     text-transform: uppercase;
//  }