$ff-main: 'arial';
$color-main: #fd926d;
$color-btn-bottom: #dd6b44;
$color-btn-hover: #6d6d6d;
$color-btn-text: #fff;
$color-section: #ededed;
$color-icon: #6d6d6d;
$color-main-text: #6d6d6d;
$color-header-top-text: #fff;
$color-header-top: #000;
$color-header-top-icon: #666;