.button {
  outline: none;
  border: none;
  background-color: $button-color-bg;
  color: $button-color-text;
  font-size: $button-font-size;
  text-transform: uppercase;
  padding: 10px 10px 7px 10px;
  border-bottom: 3px solid $button-color-bottom;
  transition: all 0.3s linear;
 
  &::after{
    content: "\f067";
    font-family: FontAwesome;
    font-size: $button-font-size;
    margin-left: 10px;
  }

  &:hover{
    border-bottom: 3px solid $button-color-bg;
    background-color: $button-color-hover;
  }
}
