.section-footer-top{
  background-color : $footer-top-color-bg;
}

.footer-top{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $footer-top-color-bg;
  padding: 10px 0px 20px 0px;
  
  &__column{
   padding: 10px;

   &_secure{
    margin-top:25px;
    height: 115px;
    width: 115px;
    background: url(../images/secure.png) no-repeat;
  }
}
  &__title{
    color: $footer-top-title-color;
    font-size: $footer-top-title-font-size;
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 10px;
  }

  &__link{
    color: $footer-top-link-color;
    font-size: $footer-top-link-font-size;
    transition: all 0.3s linear;
    display: inline-block;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &:hover{
      color: $footer-top-link-color-hover;
    }
  }
}

.footer-top-social-icons{
  &__list{
    display: flex;
    flex-wrap: wrap;
    width: 128px;
  }

  &__link{
    font-size: $footer-top-social-icons-link-font-size;
  }

  &__icon_circle{
    color: $footer-top-social-icons-icon-color-bg;
    transition: all 0.3s linear;
  }

  &__icon{
    color: $footer-top-social-icons-icon-color;
    transition: all 0.3s linear;
  }

  &__item_tw &__link:hover &__icon_circle{
    color: #1da1f2;
  }
  &__item_pr &__link:hover &__icon_circle{
    color: #bd081c;
  }
  &__item_fb &__link:hover &__icon_circle{
    color: #3b5998;
  }
  &__item_gp &__link:hover &__icon_circle{
    color: #dd5144;
  }
  &__item_tr &__link:hover &__icon_circle{
    color: #000;
  }
  &__item_vm &__link:hover &__icon_circle{
    color: #1ab7ea;
  }
}
