.section-footer-top{
  background-color : #ededed;
}

.footer-top{
  $color-bg: #ededed;
  $color-title: #544f4d;
  $color-link: #8b8887;
  $color-link-hover:#dd6b44;
  $font-size-title: 1rem;
  $font-size-link: 0.75rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $color-bg;
  padding: 10px 0px 20px 0px;
  
  &__column{
   padding: 10px;

   &_secure{
    margin-top:25px;
    height: 115px;
    width: 115px;
    background: url(../images/secure.png) no-repeat;
  }
}
  &__title{
    color: $color-title;
    font-size: $font-size-title;
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 10px;
  }

  &__link{
    color: $color-link;
    font-size: $font-size-link;
    transition: all 0.3s linear;
    display: inline-block;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &:hover{
      color: $color-link-hover;
    }
  }
}

.footer-top-social-icons{
  $color-bg-icon: #4c4c4b;
  $color-bg-icon-hover: #dd6b44;
  $color-icon: #fff;
  $color-icon-hover: #4c4c4b;
  $font-size-link: 1rem;

  &__list{
    display: flex;
    flex-wrap: wrap;
    width: 128px;
  }

  &__link{
    font-size: $font-size-link;
  }

  &__icon_circle{
    color: $color-bg-icon;
    transition: all 0.3s linear;
  }

  &__icon{
    color: $color-icon;
    transition: all 0.3s linear;
  }

  &__item_tw &__link:hover &__icon_circle{
    color: #1da1f2;
  }
  &__item_pr &__link:hover &__icon_circle{
    color: #bd081c;
  }
  &__item_fb &__link:hover &__icon_circle{
    color: #3b5998;
  }
  &__item_gp &__link:hover &__icon_circle{
    color: #dd5144;
  }
  &__item_tr &__link:hover &__icon_circle{
    color: #000;
  }
  &__item_vm &__link:hover &__icon_circle{
    color: #1ab7ea;
  }
}
