.contact{
  $color-text: #fff;
  
  color: $color-text;
  font-size: 	0.6875rem;
  &__tel-number{
    font-size: 0.75rem;
    margin-left: 7px;
  }
}

@media screen and (max-width: 640px){
  .contact{
    color: #838383;
  }
}