.contact{  
  color: $contact-color-text;
  font-size: $contact-font-size;
  &__phone-number{
    font-size: $contact-phone-number-font-size;
    margin-left: 7px;
  }
}

@media screen and (max-width: 640px){
  .contact{
    color: $contact-color-text-mw-640;
  }
}