/*about*/
$about-color-text: #999;
$about-font-size: 0.875rem;

/*brands*/
$brands-color-border-bottom: #d8d8d8;

/*button*/
$button-color-text: #fff;
$button-color-bottom: #dd6b44;
$button-color-hover: #6d6d6d;
$button-color-bg: #fd926d;
$button-font-size: 0.75rem;

/*cards*/
$cards-color-bg: #f7f7f7;
$cards-color-text: #999999;
$cards-font-size: 0.75rem;

/*clothes-clearance*/
$clothes-clearance-color-bg: #fff;

/*clothes-item*/
$clothes-item-color-bg: #ccc;
$clothes-item-caption-color-bg: #fff;
$clothes-item-title-font-size: 12px;
$clothes-item-text-font-size: 22px;

/*clothing-catalog*/
$clothing-catalog-nav-item-font-size: 15px;
$clothing-catalog-nav-link-color: #555;
$clothing-catalog-nav-link-color-text-hover: #fd926d;
$clothing-catalog-nav-link-color-bg-hover: #fff;

/*slider-clothes*/
$slider-clothes-link-color: #555;
$slider-clothes-btn-color-bg: #f2f2f2;  
$slider-clothes-btn-color-bg-hover: #fd926d;
$slider-clothes-btn-color-text-hover: #fff;
$slider-clothes-color-bg: #fd926d;

/*contact*/
$contact-color-text: #fff;
$contact-font-size: 0.6875rem;
$contact-phone-number-font-size: 0.75rem;
$contact-color-text-mw-640: #838383;

/*feedback*/
$feedback-color-bg: #ededed;
$feedback-font-size: 0.75rem;
$feedback-color-text: #6d6d6d;

/*footer-bottom*/
$footer-bottom-color-bg: #000;
$footer-bottom-color-text: #8d8d8d;
$footer-bottom-color-bg: #000;
$footer-bottom-link-color-hover: #dd6b44;
$footer-bottom-font-size: 0.6875rem;

/*footer-top*/
$footer-top-color-bg: #ededed;
$footer-top-title-color: #544f4d;
$footer-top-link-color: #8b8887;
$footer-top-link-color-hover:#dd6b44;
$footer-top-title-font-size: 1rem;
$footer-top-link-font-size: 0.75rem;

/*footer-top-social-icons*/
$footer-top-social-icons-icon-color-bg: #4c4c4b;
$footer-top-social-icons-icon-color-bg-hover: #dd6b44;
$footer-top-social-icons-icon-color: #fff;
$footer-top-social-icons-icon-color-hover: #4c4c4b;
$footer-top-social-icons-link-font-size: 1rem;

/*form-updated*/
$form-updated-font-size: 0.75rem;
$form-updated-btn-color-bt-hover: #6d6d6d;
$form-updated-btn-color-bg: #fd926d;

/*gallery*/
$gallery-item-color-hover: #dd6b44;

/*header-top*/
$header-top-color-bg: #000;
$header-top-color-bg-hover-mw-640: #fafafa;

/*main-menu*/
$main-menu-link-color: #000;
$main-menu-font-size: 1rem;
$main-menu-link-color-hover: #fff;
$main-menu-link-color-bg-hover: #f9926d;
$main-menu-item-color-bt-mw-768: #fff;

/*main-slider*/
$main-slider-color-bg: #ccc;
$main-slider-btn-color-bg: #fefefd;
$main-slider-btn-icon-color: #cbcbca;
$main-slider-btn-color-bg-hover: #f9926d;
$main-slider-dots-color: #867a76;
$main-slider-dots-color-hover: #fd926d;
$main-slider-dots-active-color: #fd926d;

/*menu-top*/
$menu-top-color-text: #fff;
$menu-top-color-bg: #000;
$menu-top-icon-color: #666;
$menu-top-color-border: #444;
$menu-top-font-size: 0.6875rem;
$menu-top-icon-font-size: 0.875rem;

/*mobile-menu*/
$mobile-menu-color-text: #fff;
$mobile-menu-color-bg: #f9926d;

/*page-title*/
$page-title-color-text: #414141;
$page-title-font-size: 1.5rem;

/*shopping-card*/
$shopping-card-color-text: #b3b3b3;
$shopping-card-font-size: 0.75rem;

/*social-icon*/
$social-icons-icon-color: #6d6d6d;
$social-icons-icon-color-hover: #fd926d;
$social-icons-icon-color-bg-hover: #6d6d6d;
$social-icons-text-font-size: 12px;
$social-icons-item-font-size: 24px;
$social-icons-item-color-bg: #f7f7f7;

/*title*/
$title-color-text: #414141;
$title-color-font-size: 0.9375rem;
