section.section__brands
  .brands
    h3.brands__title.title_line favourite brands
    .container
      .brands__list
        .brands__item
          img.brands__item__img(src="images/br1.jpg")
        .brands__item
          img.brands__item__img(src="images/br2.jpg")
        .brands__item
          img.brands__item__img(src="images/br3.jpg")
        .brands__item
          img.brands__item__img(src="images/br4.jpg")
        .brands__item
          img.brands__item__img(src="images/br5.jpg")
        .brands__item
          img.brands__item__img(src="images/br6.jpg")
        .brands__item
          img.brands__item__img(src="images/br7.jpg")
        .brands__item
          img.brands__item__img(src="images/br8.jpg")
          