section.section__clothes
  .container 1
  .slider__clothes
    .slider__clothes__item
      a.clothes__item__link(href="#")
        img.clothes__item__img(src="images/clothes1.jpg")
      .clothes__item__caption
        h5.clothes__item__title Mimosa lace dress
        p.clothes__item__text $76.95
        button.clothes__item__button add to cart
    .slider__clothes__item
      a.clothes__item__link(href="#")
        img.clothes__item__img(src="images/clothes2.jpg")
      .clothes__item__caption
        h5.clothes__item__title Mimosa lace dress
        p.clothes__item__text $76.95
        button.clothes__item__button add to cart
    .slider__clothes__item
      a.clothes__item__link(href="#")
        img.clothes__item__img(src="images/clothes3.jpg")
      .clothes__item__caption
        h5.clothes__item__title Mimosa lace dress
        p.clothes__item__text $76.95
        button.clothes__item__button add to cart
    .slider__clothes__item
      a.clothes__item__link(href="#")
        img.clothes__item__img(src="images/clothes4.jpg")
      .clothes__item__caption
        h5.clothes__item__title Mimosa lace dress
        p.clothes__item__text $76.95
        button.clothes__item__button add to cart
    .slider__clothes__item
      a.clothes__item__link(href="#")
        img.clothes__item__img(src="images/clothes5.jpg")
      .clothes__item__caption
        h5.clothes__item__title Mimosa lace dress
        p.clothes__item__text $76.95
        button.clothes__item__button add to cart
    .slider__clothes__item
      a.clothes__item__link(href="#")
        img.clothes__item__img(src="images/clothes6.jpg")
      .clothes__item__caption
        h5.clothes__item__title Mimosa lace dress
        p.clothes__item__text $76.95
        button.clothes__item__button add to cart
    .slider__clothes__item
      a.clothes__item__link(href="#")
        img.clothes__item__img(src="images/clothes7.jpg")
      .clothes__item__caption
        h5.clothes__item__title Mimosa lace dress
        p.clothes__item__text $76.95
        button.clothes__item__button add to cart
    .slider__clothes__item
      a.clothes__item__link(href="#")
        img.clothes__item__img(src="images/clothes8.jpg")
      .clothes__item__caption
        h5.clothes__item__title Mimosa lace dress
        p.clothes__item__text $76.95
        button.clothes__item__button add to cart