include ../components/clothes_item
section.section-catalog-clothes
  .container
    nav.catalog-clothes-nav
      .catalog-clothes-menu
        ul.catalog-clothes-menu__list
          li.catalog-clothes-menu__item
            a.catalog-clothes-menu__link(href="#") What's hot?
          li.catalog-clothes-menu__item
            a.catalog-clothes-menu__link(href="#") designers
          li.catalog-clothes-menu__item
            a.catalog-clothes-menu__link(href="#") featured
          li.catalog-clothes-menu__item
            a.catalog-clothes-menu__link(href="#") latest
      .slider-clothes-buttons
        ul.slider-clothes-buttons__list
          li.slider-clothes-button-prev
            i.fa.fa-angle-left.fa-3x(aria-hidden="true")
          li.slider-clothes-button-next
            i.fa.fa-angle-right.fa-3x(aria-hidden="true")
  .slider-clothes
    +clothes__item("images/clothes5.jpg",'Mimosa lace dress', '$76.95')
    +clothes__item("images/clothes5.jpg",'Mimosa lace dress', '$76.95')
    +clothes__item("images/clothes5.jpg",'Mimosa lace dress', '$76.95')
    +clothes__item("images/clothes5.jpg",'Mimosa lace dress', '$76.95')
    +clothes__item("images/clothes5.jpg",'Mimosa lace dress', '$76.95')
    +clothes__item("images/clothes5.jpg",'Mimosa lace dress', '$76.95')
    +clothes__item("images/clothes6.jpg",'Mimosa lace dress', '$76.95')
    +clothes__item("images/clothes7.jpg",'Mimosa lace dress', '$76.95')
    +clothes__item("images/clothes8.jpg",'Mimosa lace dress', '$76.95')
