include ../components/clothes_item
section.section-clothes-clearance
  .container
    .clothes-clearance
      .clothes-clearance__title.title_line
        img.clothes-clearance__img(src="images/clearence.png")
      .clothes-clearance__list
        +clothes__item("images/clothes1.jpg",'Mimosa lace dress', '$76.95', true)
        +clothes__item("images/clothes2.jpg",'Mimosa lace dress', '$76.95', true)
        +clothes__item("images/clothes3.jpg",'Mimosa lace dress', '$76.95', true)
        +clothes__item("images/clothes4.jpg",'Mimosa lace dress', '$76.95', true)