section.section-footer-bottom
  .container
    .footer-bottom
      .footer-bottom__menu
        ul.footer-bottom__list
          each item in ['Privacy & Cookies', 'Terms & Conditions', 'Accessibility', 'Store Directory', 'About Us']
            li.footer-bottom__item
              a.footer-bottom__link(href="#")=item
      .copyright.footer-bottom__copyright
        p.footer-bottom__text © LookShop.com
        p.footer-bottom__text All Rights Reserved
